@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #fff;
    background-color: #0f0f0f;
    font-family: 'Roboto', sans-serif;
}

input {
    color: #000;
}

input:focus {
    outline: none;
}